#homebanner
{
	background-color: #CCC;	
	text-align: center;
	width: 75%;
	padding: 10px;
	margin: 0 auto;
	font-family:"Gill Sans MT";
}

#content
{
	background-color: #CCC;	
	text-align: center;
	width: 75%;
	padding: 10px;
	margin: 0 auto;
	font-family:"Gill Sans MT";
}

#footer
{
  	position: fixed;
	left: 0;
  	bottom: 0;
	width: 100%;
	background-color: #CCC;
	color: black;
	text-align: center;
	font-family:"Gill Sans MT";
}

#output
{
	background-color: #CCC;	
	text-align: center;
	width: 75%;
	padding: 10px;
	margin: 0 auto;
	font-family:"Gill Sans MT";
}
